<p class="text-success"><%= notice %></p>

<div class="d-flex py-2">
  <%= link_to "↶ Back to list", work_types_path, class: 'btn btn-secondary' %>
  <%= link_to "Edit", edit_work_party_path(@work_party), class: 'btn btn-primary px-4 ms-2 me-auto' %>
  <%= button_to "Delete", @work_party, method: :delete, class: 'btn btn-danger' %>
</div>

<%= render @work_party %>
