<div id="<%= dom_id client %>">
  <table class="table table-dark table-bordered table-hover">
    <colgroup>
      <col style="width: 20%">
      <col style="width: auto">
    </colgroup>
    <tr>
      <td>Name:</td>
      <td><%= client.name %></td>
    </tr>

    <tr>
      <td>Address:</td>
      <td><%= client.address %></td>
    </tr>

    <tr>
      <td>Contact:</td>
      <td><%= client.contact %></td>
    </tr>

    <tr>
      <td>Status:</td>
      <td>
        <span class="<%= client.active? ? 'bg-success' : 'bg-secondary' %> rounded-pill px-4 py-1 text-light">
            <%= client.active? ? 'Active' : 'Inactive' %>

        </span>
      </td>
    </tr>

  </table>

</div>
