<p class="text-success"><%= notice %></p>

<div class="d-flex py-2">
  <%= link_to "↶ Back to list", clients_path, class: 'btn btn-secondary' %>
  <%= link_to "Edit", edit_client_path(@client), class: 'btn btn-primary px-4 ms-2 me-auto' %>
  <%= button_to "Delete", @client, method: :delete, class: 'btn btn-danger' %>
</div>

<%= render @client %>

<div class="my-4">
  <strong>Contacts:</strong>
  <% if @contacts.count.zero? %>
    <p class="text-secondary"> No any contacts.</p>
    <%= link_to 'Add Contact', new_contact_path, class: 'btn btn-success' %>
  <% else %>
    <%= render 'contacts/contact_list' %>
  <% end %>
</div>

<div class="my-4">
  <strong>Projects:</strong>
  <% if @projects.count.zero? %>
    <p class="text-secondary"> No any projects.</p>
    <%= link_to 'Add Project', new_project_path, class: 'btn btn-success' %>
  <% else %>
    <%= render 'projects/project_list' %>
  <% end %>
</div>
