<div class="container bg-light p-4">
  <div class="mb-4">
    <h5>
      Welcome <%= current_user.email %>
    </h5>
  </div>
  <div class="row">
    <%= link_to "Clients", clients_path, class: 'btn btn-info col-md-5 col-xs-10 me-auto my-2' %>
    <%= link_to "Contacts", contacts_path, class: 'btn btn-success col-md-5 col-xs-10 me-auto my-2' %>
    <%= link_to "Projects", projects_path, class: 'btn btn-danger col-md-5 col-xs-10 me-auto my-2' %>
    <%= link_to "Work Parties", work_parties_path, class: 'btn btn-warning col-md-5 col-xs-10 me-auto my-2' %>
    <%= link_to "Work Types", work_types_path, class: 'btn btn-primary col-md-5 col-xs-10 me-auto my-2' %>
  </div>


</div>
