<h3><%= project.name %></h3>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Details
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body bg-dark">
        <div id="<%= dom_id project %>">
          <table class="table table-dark table-bordered table-hover">
            <colgroup>
              <col style="width: 20%">
              <col style="width: auto">
            </colgroup>

            <tr>
              <td>Location:</td>
              <td><%= project.location %></td>
            </tr>

            <tr>
              <td>Client:</td>
              <td><%= link_to project.client_name, project.client, class: 'text-light' %></td>
            </tr>

            <tr>
              <td>Start date:</td>
              <td><%= project.start_date.localtime.strftime('%b %d, %Y') %></td>
            </tr>

            <tr>
              <td>Deadline:</td>
              <td><%= project.deadline || 'N/A' %></td>
            </tr>

            <tr>
              <td>Status:</td>
              <td><span class="rounded-pill p-2 text-light bg-<%= project_status_class(project) %>">
                <%= project.status.titleize %>
              </span></td>
            </tr>

            <tr>
              <td>Manager name:</td>
              <td><%= project.manager_name || 'N/A' %></td>
            </tr>

            <tr>
              <td>Bill Status:</td>
              <td><span class="rounded-pill p-2 text-light bg-<%= project_bill_status_class(project) %>">
                <%= project.bill_status.titleize %>
              </span></td>
            </tr>

            <tr>
              <td>Consultant name:</td>
              <td><%= project.consultant_name || 'N/A' %></td>
            </tr>

            <tr>
              <td>Contract Amount:</td>
              <td>NRs. <%= project.contract_amount %></td>
            </tr>

            <tr>
              <td>Remarks:</td>
              <td><%= project.remarks || 'N/A' %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Work Parties
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body bg-dark">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#assignWorkPartyNew">
          Assign Work Party
        </button>
        <!--        <button id="toggleEditBtn" type="button" class="btn btn-success ms-2 mb-2" onclick="toggleEditMode()">-->
        <!--          Edit Work Parties-->
        <!--        </button>-->
        <% if @project_work_parties.blank? %>
          <p class="text-secondary text-center">No any work parties assigned!</p>
        <% else %>
          <table class="table table-dark table-bordered table-hover text-capitalize">
            <thead>
            <tr>
              <th class="js-sort-header"><%= link_to "Work Type", sort: "work_type_name" %></th>
              <th class="js-sort-header" style="width: 20%"><%= link_to "Work Party", sort: "work_party_name" %></th>
              <th class="js-sort-header"><%= link_to "Bill Amount", sort: "bill_amount" %></th>
              <th class="js-sort-header"><%= link_to "Bill Status", sort: "bill_status" %></th>
              <th class="js-sort-header"><%= link_to "Payment", sort: "payment_status" %></th>
              <th style="width: 20%">Remarks</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @project_work_parties.each do |pwp| %>
              <tr>
                <td><%= pwp.work_type_name %></td>
                <td><%= link_to pwp.work_party_name, pwp.work_party, class: 'text-light' %></td>
                <td><%= pwp.bill_amount %></td>
                <td><%= pwp.bill_status %></td>
                <td><%= pwp.payment_status %></td>
                <td><%= pwp.remarks || 'N/A' %></td>
                <td class="d-flex">
                  <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#assignWorkParty<%= pwp.id %>">
                    <i class="bi bi-pen"></i>
                  </button>
                  <%= button_to pwp, method: :delete, class: 'btn btn-danger m-1 actions' do %>
                    <i class="bi bi-trash-fill"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br><br>

<script>
    const addClass = (element) => {
        // element.firstChild.classList.add("text-decoration-none");
        element.firstChild.classList.add("text-light");
        element.firstChild.classList.add("text-bold");
    }

    window.onload = () => {
        let headers = document.getElementsByClassName("js-sort-header");
        Array.from(headers).forEach(addClass);
    };
</script>

