<p class="text-success"><%= notice %></p>

<h3>Projects</h3>
<div class="text-end">
  <%= link_to "New project", new_project_path, class: 'btn btn-success my-2' %>
</div>

<div id="projects" class="mt-4">
  <% @projects.each do |project| %>
    <%= link_to project, class: "btn btn-#{project_status_class(project)} col-12 text-start my-1" do %>
      <%= project.name %>
      &nbsp;&nbsp;
      <span class="fw-lighter fs-6">
        (<%= project.status.titleize %>)
      </span>
    <% end %>
  <% end %>
</div>
