<p class="text-success"><%= notice %></p>

<div class="d-flex py-2">
  <%= link_to "↶ Back to list", projects_path, class: 'btn btn-secondary' %>
  <%= link_to "Edit", edit_project_path(@project), class: 'btn btn-primary px-4 ms-2 me-auto' %>
  <%= button_to "Delete", @project, method: :delete, class: 'btn btn-danger ms-auto' %>
</div>

<%= render @project %>

<!-- Assign Modal -->
<%= form_for ProjectWorkParty.new do |form| %>
  <%= render 'projects/assign_work_party_dialog', form: form %>
<% end %>

<!--Assign Edit Modals-->
<% @project.project_work_parties.each do |pwp| %>
  <%= form_for pwp do |form| %>
    <%= render 'projects/assign_work_party_dialog', form: form %>
  <% end %>
<% end %>