<%= form_with(model: work_type) do |form| %>
  <% if work_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(work_type.errors.count, "error") %> prohibited this work_type from being saved:</h2>

      <ul>
        <% work_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-dark table-borderless">
    <tr>
      <td><%= form.label :name, class: 'form-label' %></td>
      <td><%= form.text_field :name, class: 'form-control', placeholder: :name %></td>
    </tr>
  </table>

  <div class="mt-4">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
