<p class="text-success"><%= notice %></p>

<h1>Work types</h1>
<div>
  <%= link_to "New work type", new_work_type_path, class: 'btn btn-success my-2' %>
</div>

<div id="work_types" class="row mt-4">
  <% @work_types.each_with_index do |work_type, index| %>
    <div class="btn btn-light py-1 text-start d-flex col-sm-12 col-md-8 my-2">
      <span class="col-10 align-middle pt-1">
        <%= index + 1 %>. <%= work_type.name %>
      </span>
      <%= link_to edit_work_type_path(work_type), class: 'btn btn-primary me-1 col-auto' do %>
        <i class="bi bi-pen"></i>
      <% end %>
      <%= button_to work_type, method: :delete, class: 'btn btn-danger ms-1' do %>
        <i class="bi bi-trash-fill"></i>
      <% end %>
    </div>
  <% end %>
</div>

